- if current_user.super_user?
  - @trips = trips
- if @trips.present?
  - @trips.each do |ftrips|
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .panel.panel-default
          .panel-body.dashboard-panels
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                %section.panel-left
                  - if (actor.eql? "Client")
                    %h5
                      %b= ftrips.user.company
                  %h5.txt-tunis.side-para
                    %strong= "#{ftrips.departure_city} -> #{ftrips.arrival_city}"
                  %p.text-gray.m-b-3.side-para= ftrips.type_of_truck
                  %p.text-gray.m-b-3.side-para= ftrips.weight
                  %p.text-gray.hidden-xs.side-para.mission-details
              .col-lg-6.col-md-6.col-sm-6.col-xs-6{:style => "border-left: 1px solid #ccc;"}
                %section.panel-right
                  .row
                    .col-lg-2.col-sm-2.col-xs-3.counter-Sec
                      = image_tag "up.png", class: "img-box img-box-db", alt: ""
                    .col-lg-10.col-sm-10.col-xs-9
                      %p.txtmonth
                        %span= date_format(ftrips.pick_up_date)
                      %p.txtTime
                        %strong= "#{ftrips.arrival_hours}"
                  .row
                    .col-lg-2.col-sm-2.col-xs-3
                      = image_tag "down.png", class: "img-box img-box-db", alt: ""
                    .col-lg-10.col-sm-10.col-xs-9
                      %p.txtmonth
                        %span= date_format(ftrips.delivery_date)
                      %p.txtTime
                        %strong= "#{ftrips.depart_hours}"
                  %br/      
                  .row.hidden-xs
                    .col-lg-12.col-sm-12
                      - if (actor.eql? "Client")
                        = link_to 'Voir numéro', trans_info_path(ftrips: ftrips.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#transinfoModal', class: "btn btn-color btn-modal btn-block"}
                      -else
                        %button.btn-primary.btn-block.btn-en.btn-non-pointer{:type => ""} En cours    
            .row.hidden-lg.hidden-md.hidden-sm
              .col-xs-12
                %p.text-gray.side-para.mission-details.mission-details-tab
            .row.hidden-lg.hidden-md.hidden-sm
              .col-lg-12.col-sm-12.col-enbtn
                %br/
                -# if (params["controller"].eql? "transporters") || (actor.eql? "Client" || current_user.super_user?)
                - if (actor.eql? "Client")
                  = link_to 'Voir numéro', trans_info_path(ftrips: ftrips.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#transinfoModal', class: "btn btn-color btn-modal btn-block"}
                - else  
                  %button.btn-primary.btn-block.btn-en.btn-non-pointer{:type => ""} En cours          
- else
  Pas de mission créée pour l'instant.
