= render 'shared/header'
%section.career.dashboard
  .container-fluid
    .row
      = render "shared/side_panel"
      .col-lg-10.col-md-10.col-sm-10.col-xs-10.right-content{:style => "background: #f7f7f7;margin: 0;"}
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            %h4
              %span
                %b Historique des trips
            %hr{:style => "border-top: 1px solid #cecbcb;margin-top: 0px;"}/
        = render "trips"