<p id="notice"><%= notice %></p>

<p>
  <strong>Departure city:</strong>
  <%= @trip.departure_city %>
</p>

<p>
  <strong>Arrival city:</strong>
  <%= @trip.arrival_city %>
</p>

<p>
  <strong>Type of goods:</strong>
  <%= @trip.type_of_goods %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @trip.dimensions %>
</p>

<p>
  <strong>Pick up date:</strong>
  <%= @trip.pick_up_date %>
</p>

<p>
  <strong>Pick up time:</strong>
  <%= @trip.pick_up_time %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @trip.delivery_date %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @trip.delivery_time %>
</p>

<p>
  <strong>Specific details:</strong>
  <%= @trip.specific_details %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
