= render 'shared/header'
%section.career.dashboard
  .container-fluid
    .row
      .col-lg-2.col-md-2.col-sm-2.col-xs-2.bg-white.side-nav.hidden-xs.hidden-sm
        = link_to "Ajouter une mission", new_freight_mission_path, class: "btn btn-block btn-ajouter create_user_mission"
        = link_to "Ajouter un trajet", new_trip_path, class: "btn btn-block btn-ajouter create_user_trip hide", style: "margin-top: 20px;"
        #exTab3
          %ul.nav.ultabs
            %li.litab{:style => "display: block;"}
              %a{"data-toggle" => "tab", :href => "#3", class: "btn trans_miss hide"} Mes trajets
            %li{:style => "display: block;"}
              %a{"data-toggle" => "tab", :href => "#2", class: "btn trans_trips hide"} Offres de fret
            %li.litab.active{:style => "display: block;"}
              %a{"data-toggle" => "tab", :href => "#1", class: "btn client_miss"} Mes missions
            %li{:style => "display: block;"}
              %a{"data-toggle" => "tab", :href => "#4", class: "btn client_trips"} Trajets camions
      .col-lg-10.col-md-10.col-sm-12.col-xs-12.right-content{:style => "background: #f7f7f7;margin: 0;height: 100vh;"}
        .row.hidden-lg.hidden-md
          .col-xs-12
            = link_to "Ajouter une mission", new_freight_mission_path, class: "btn btn-block btn-ajouter create_user_mission"
            = link_to "Ajouter un trajet", new_trip_path, class: "btn btn-block btn-ajouter create_user_trip hide", style: "margin-top: 20px;"
        .row
          #exTab2
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#1", class: "affreteur_link"} Affreteur
              %li
                %a{"data-toggle" => "tab", :href => "#3", class: "transporteur_link"} Transporteur
            .row.hidden-xs
              .col-lg-12.col-md-12.col-sm-12.col-xs-12 
            .tab-content
              #1.tab-pane.active
                .row
                  .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    %h4
                      %b Mes Missions:
                    %hr{:style => "border-top: 1px solid #cecbcb;"}/
                    = render "freight_missions/missions", missions: @user_missions, actor: "Client"
              #2.tab-pane
                .row
                  .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    %h4
                      %b Offres de fret:
                    %hr{:style => "border-top: 1px solid #cecbcb;"}/
                    = render "freight_missions/missions", missions: @all_missions, actor: "Transporter"
              #3.tab-pane
                .row
                  .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    %h4
                      %b Historique des trajets:
                    %hr{:style => "border-top: 1px solid #cecbcb;"}/
                    = render "trips/trips", trips: @user_trips, actor: "Transporter"   
              #4.tab-pane
                .row
                  .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    %h4
                      %b Trajets camions:
                    %hr{:style => "border-top: 1px solid #cecbcb;"}/
                    = render "trips/trips", trips: @all_trips, actor: "Client"   
#clientinfoModal.modal.fade{:role => "dialog"}
#transinfoModal.modal.fade{:role => "dialog"}