.col-lg-2.col-md-2.col-sm-2.col-xs-2.bg-white.side-nav.hidden-xs.hidden-sm
  - if is_mission_new? || is_trip_new?
    %h4
      %span
        %i.fa.fa-arrow-left{"aria-hidden" => "true"}
      %b.side-panel-text
        - if current_user.super_user?
          = link_to "Historique", super_users_dashboard_path
        - elsif current_user.transporter?
          = link_to "Historique", transporters_dashboard_path
        -else
          = link_to "Historique", clients_dashboard_path
  - elsif current_user.transporter?
    %button.btn.btn-block.btn-ajouter{:type => ""}= link_to "Ajouter une mission", new_trip_path
  - else
    %button.btn.btn-block.btn-ajouter{:type => ""}= link_to "Ajouter une mission", new_freight_mission_path