.modal-dialog.modal-md
  .modal-content.client-modal
    .modal-header.client-modal-header
      %button.close.client-modal-cross{"data-dismiss" => "modal", :type => "button"} ×
    .modal-body.client-modal-body
      %h4.company-name
        = fmission.user.company 
      %h5.client-info
        Si vous correspondez à la mission vous pouvez contacter la personne à ce numéro :
      %h3.client-phone-modal
        = link_to fmission.phone, "tel:#{fmission.phone}"
