= render 'shared/header'
%section.career.dashboard
  .container-fluid
    .row
      .col-lg-2.col-md-2.col-sm-2.col-xs-2.bg-white.side-nav.hidden-xs.hidden-sm
        = link_to "Ajouter un trajet", new_trip_path, class: "btn btn-block btn-ajouter"
        #exTab3
          %ul.nav.ultabs
            %li.active.litab
              %a{"data-toggle" => "tab", :href => "#1", class: "btn mistrajet"} Mes trajets
            %li
              %a{"data-toggle" => "tab", :href => "#2", class: "btn ofresfret"} Offres de fret
      .col-lg-10.col-md-10.col-sm-12.col-xs-12.right-content
        .row.hidden-lg.hidden-md
          .col-xs-12
            = link_to "Ajouter un trajet", new_trip_path, class: "btn btn-block btn-ajouter"
        .tab-content
          #1.tab-pane.active
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                %h4
                  %b Historique des trajets
                %hr{:style => "border-top: 1px solid #cecbcb;"}/
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                = render "trips/trips", trips: @user_trips, actor: "Transporter"   
          #2.tab-pane
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                %h4
                  %b Missions de freight postées
                %hr{:style => "border-top: 1px solid #cecbcb;"}/
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                = render "freight_missions/missions", missions: @user_missions, actor: "Client"
#clientinfoModal.modal.fade{:role => "dialog"}