%section.career.career-desktop
  .container-fluid
    .row
      = render "shared/side_panel"
      .col-lg-10.col-md-10.col-sm-12.col-xs-12.right-content{:style => "background: #f7f7f7;margin: 0;"}
        .row
          .col-lg-2.col-md-2.col-sm-2.col-xs-2.hidden-lg.hidden-md
            %h2
              - if current_user.super_user?
                = link_to '<i class="fa fa-arrow-left mango" aria-hidden="true" style="color: #000;"></i>'.html_safe, super_users_dashboard_path
              - else
                = link_to '<i class="fa fa-arrow-left mango" aria-hidden="true" style="color: #000;"></i>'.html_safe, clients_dashboard_path  
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            %p.form-p.txtNouvel Nouvelle mission
        .row-fluid
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            %div
              = form_for @freight_mission, validate: true, html: {class: 'login mission'} do |f|
                .text-black.m-b-2perc
                  .row
                    .col-lg-5.col-md-5.col-sm-12.col-xs-12.text-left.m-b-8prc
                      = f.select :departure_city, [['Tunis', 'Tunis'], ['Sfax', 'Sfax'], ['Sousse', 'Sousse']], {prompt: 'Ville de départ *'}, {class: "brd-btm border-bottom form-control drpNoStyle"}
                      %span.depart-error.hide{:style => "font-size:10px;color:red;text-align: left;"} *cela ne peut pas être vide
                    .col-lg-5.col-md-5.col-sm-12.col-xs-12.text-left.m-b-8prc.hidden-lg.hidden-md.hidden-sm
                      = f.select :arrival_city, [['Tunis', 'Tunis'], ['Sfax', 'Sfax'], ['Sousse', 'Sousse']], {prompt: 'Ville d’arrivée *'}, {class: "brd-btm drpNoStyle border-bottom form-control arrival_city"}
                      %span.city-error.hide{:style => "font-size:10px;color:red;text-align: left;"} *cela ne peut pas être vide  
                    .col-lg-5.col-md-5.col-sm-12.col-xs-12.text-left.m-b-8prc.hidden-lg.hidden-md.hidden-sm
                      = f.text_field :type_of_goods, placeholder: "Type de marchandises *"  ,class: "brd-btm border-bottom goods"
                      %span.goods-error.hide{:style => "font-size:10px;color:red;text-align: left;"} *cela ne peut pas être vide
                    .col-lg-5.col-md-5.col-sm-12.col-xs-12.text-left.m-b-8prc.hidden-lg.hidden-md.hidden-sm
                      = f.text_field :dimensions, placeholder: "Taille/Poids/Nombre de palettes *"  ,class: "brd-btm border-bottom dimensions"
                      %span.dimension-error.hide{:style => "font-size:10px;color:red;text-align: left;"} *cela ne peut pas être vide    
                    .col-lg-1.col-md-1.col-sm-12.col-xs-12.text-center.box-imgonmob
                      = image_tag "up.png", class: "img-box", alt: "", tabindex: "-1"
                    .col-lg-6.col-md-6.col-sm-12.col-xs-12.m-b-8prc.text-left
                      .input-group.add-on
                        = f.text_field :pick_up_date, class: "input-search datepicker-mission", placeholder: "Date de collecte *", readonly: true
                        .input-group-btn
                          %button.btn.btn-default{:tabindex => "-1", :type => "button"}
                            %i.fa.fa-calendar-check-o{"aria-hidden" => "true"}
                      %span.pick_date-error.hide{:style => "font-size:10px;color:red;text-align: left;"} *cela ne peut pas être vide
                %div.m-b-2perc
                  .row
                    .col-lg-5.col-md-5.col-sm-12.col-xs-12.m-b-8prc.text-left.hidden-xs
                      = f.select :arrival_city, [['Tunis', 'Tunis'], ['Sfax', 'Sfax'], ['Sousse', 'Sousse']], {prompt: 'Ville d’arrivée *'}, {class: "brd-btm drpNoStyle border-bottom form-control arrival_city"}
                      %span.city-error.hide{:style => "font-size:10px;color:red;text-align: left;"} *cela ne peut pas être vide
                    .col-lg-1.col-md-1.col-sm-12.col-xs-12.text-center
                    .col-lg-6.col-md-6.col-sm-12.col-xs-12.text-left
                      .row
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12.m-b-8prc
                          .input-group.add-on
                            = f.text_field :pick_up_time_min, class: "input-search timepicker-mission", placeholder: "Heure min. *", validate: true, readonly: true
                            .input-group-btn
                              %button.btn.btn-default{:tabindex => "-1", :type => "button"}
                                %i.fa.fa-clock-o{"aria-hidden" => "true"}
                          %span.pick_time_min-error.hide{:style => "font-size:10px;color:red;text-align: left;"} *cela ne peut pas être vide
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12.text-left
                          .input-group.add-on
                            = f.text_field :pick_up_time_max, validate: true, class: "input-search timepicker-mission", placeholder: "Heure max. *", readonly: true
                            .input-group-btn
                              %button.btn.btn-default{:tabindex => "-1", :type => "button"}
                                %i.fa.fa-clock-o{"aria-hidden" => "true"}
                          %span.pick_time_max-error.hide{:style => "font-size:10px;color:red;text-align: left;"} *cela ne peut pas être vide
                .text-black.m-b-2perc
                  .row
                    .col-lg-5.col-md-5.col-sm-12.col-xs-12.text-left.hidden-xs
                      = f.text_field :type_of_goods, placeholder: "Type de marchandises *"  ,class: "brd-btm border-bottom goods"
                      %span.goods-error.hide{:style => "font-size:10px;color:red;text-align: left;"} *cela ne peut pas être vide
                    .col-lg-1.col-md-1.col-sm-12.col-xs-12.box-imgonmob
                      = image_tag "down.png", class: "img-box", alt: "", tabindex: "-1"
                    .col-lg-6.col-md-6.col-sm-12.col-xs-12.m-b-8prc.text-left
                      .input-group.add-on
                        = f.text_field(:delivery_date, validate: true, class: "input-search datepicker-mission", placeholder: "Date de livraison *", readonly: true)
                        .input-group-btn
                          %button.btn.btn-default{:tabindex => "-1", :type => "button"}
                            %i.fa.fa-calendar-check-o{"aria-hidden" => "true"}
                      %span.delivery_date-error.hide{:style => "font-size:10px;color:red;text-align: left;"} *cela ne peut pas être vide
                %div.m-b-2perc
                  .row
                    .col-lg-5.col-md-5.col-sm-12.col-xs-12.m-b-8prc.text-left.hidden-xs
                      = f.text_field :dimensions, placeholder: "Taille/Poids/Nombre de palettes *"  ,class: "brd-btm border-bottom dimensions"
                      %span.dimension-error.hide{:style => "font-size:10px;color:red;text-align: left;"} *cela ne peut pas être vide
                    .col-lg-1.col-md-1.col-sm-12.col-xs-12.text-center
                    .col-lg-6.col-md-6.col-sm-12.col-xs-12
                      .row
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12.m-b-8prc.text-left
                          .input-group.add-on
                            = f.text_field :delivery_time_min, validate: true, class: "input-search timepicker-mission", placeholder: "Heure min. *", readonly: true
                            .input-group-btn
                              %button.btn.btn-default{:tabindex => "-1", :type => "button"}
                                %i.fa.fa-clock-o{"aria-hidden" => "true"}
                          %span.delivery_time_min-error.hide{:style => "font-size:10px;color:red;text-align: left;"} *cela ne peut pas être vide
                        .col-lg-6.col-md-6.col-sm-12.col-xs-12.text-left.m-b-8prc
                          .input-group.add-on
                            = f.text_field :delivery_time_max, validate: true, class: "delivery_max input-search timepicker-mission", placeholder: "Heure max. *", readonly: true
                            .input-group-btn
                              %button.btn.btn-default{:tabindex => "-1", :type => "button"}
                                %i.fa.fa-clock-o{"aria-hidden" => "true"}
                          %span.delivery_time_max-error.hide{:style => "font-size:10px;color:red;text-align: left;"} *cela ne peut pas être vide
                %div
                  .row
                    .col-lg-5.col-md-5.col-sm-12.col-xs-12.m-b-8prc.text-left
                      = f.text_field :phone, placeholder: "Numéro à contacter *" , class: "brd-btm border-bottom"
                      %span.phone-error.hide{:style => "font-size:10px;color:red;text-align: left;"} *cela ne peut pas être vide
                    .col-lg-1.col-md-1.col-sm-12.col-xs-12.text-center
                    .col-lg-6.col-md-6.col-sm-12.col-xs-12.m-b-8prc.text-left
                      = f.text_field :specific_details, placeholder: "Type de véhicule demandé/Autres détails"  ,class: "brd-btm border-bottom"
                      %span.details-error.hide{:style => "font-size:10px;color:red;text-align: left;"} *cela ne peut pas être vide
                %label.message{:for => "\#{instance.send(:tag_id)}"}
                .form-group
                  .row
                    .col-lg-12
                      %input#submitbtn.btn-publisher.text-white.btn.btn-sm.btn-submit{:type => "submit", :value => "Poster"}/