- if current_user.super_user?
  - @freight_missions = missions
- if @freight_missions.present?
  - @freight_missions.each do |fmission|
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .panel.panel-default
          .panel-body.dashboard-panels
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                %section.panel-left
                  - if (params["controller"].eql? "transporters") || (actor.eql? "Transporter")
                    %h5
                      %b= fmission.user.company
                  %h5.txt-tunis.side-para
                    %strong= "#{fmission.departure_city} -> #{fmission.arrival_city}"
                  %p.text-gray.m-b-3.side-para= fmission.type_of_goods
                  %p.text-gray.m-b-3.side-para= fmission.dimensions
                  %p.text-gray.hidden-xs.side-para.mission-details
                    %i= fmission.specific_details
              .col-lg-6.col-md-6.col-sm-6.col-xs-6{:style => "border-left: 1px solid #ccc;"}
                %section.panel-right
                  .row
                    .col-lg-2.col-sm-2.col-xs-3.counter-Sec
                      = image_tag "up.png", class: "img-box img-box-db", alt: ""
                    .col-lg-10.col-sm-10.col-xs-9
                      %p.txtmonth
                        %span= date_format(fmission.pick_up_date)
                      %p.txtTime
                        %strong= "#{fmission.pick_up_time_max}-#{fmission.pick_up_time_min}"
                  .row
                    .col-lg-2.col-sm-2.col-xs-3
                      = image_tag "down.png", class: "img-box img-box-db", alt: ""
                    .col-lg-10.col-sm-10.col-xs-9
                      %p.txtmonth
                        %span= date_format(fmission.delivery_date)
                      %p.txtTime
                        %strong= "#{fmission.delivery_time_max}-#{fmission.delivery_time_min}"
                  %br/      
                  .row.hidden-xs
                    .col-lg-12.col-sm-12
                      - if (params["controller"].eql? "transporters") || (actor.eql? "Transporter")
                        = link_to 'Voir numéro', client_info_path(fmission: fmission.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#clientinfoModal', class: "btn btn-color btn-modal btn-block"}
                      -else
                        %button.btn-primary.btn-block.btn-en.btn-non-pointer{:type => ""} En cours    
            .row.hidden-lg.hidden-md.hidden-sm
              .col-xs-12
                %p.text-gray.side-para.mission-details.mission-details-tab
                  %i= fmission.specific_details
            .row.hidden-lg.hidden-md.hidden-sm
              .col-lg-12.col-sm-12.col-enbtn
                %br/
                - if (params["controller"].eql? "transporters") || (actor.eql? "Transporter")
                  = link_to 'Voir numéro', client_info_path(fmission: fmission.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#clientinfoModal', class: "btn btn-color btn-modal btn-block"}
                - else  
                  %button.btn-primary.btn-block.btn-en.btn-non-pointer{:type => ""} En cours          
- else
  Pas de mission créée pour l'instant.
