<p id="notice"><%= notice %></p>

<p>
  <strong>Departure city:</strong>
  <%= @freight_mission.departure_city %>
</p>

<p>
  <strong>Arrival city:</strong>
  <%= @freight_mission.arrival_city %>
</p>

<p>
  <strong>Type of goods:</strong>
  <%= @freight_mission.type_of_goods %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @freight_mission.dimensions %>
</p>

<p>
  <strong>Pick up date:</strong>
  <%= @freight_mission.pick_up_date %>
</p>

<p>
  <strong>Pick up time:</strong>
  <%= @freight_mission.pick_up_time %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @freight_mission.delivery_date %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @freight_mission.delivery_time %>
</p>

<p>
  <strong>Specific details:</strong>
  <%= @freight_mission.specific_details %>
</p>

<%= link_to 'Edit', edit_freight_mission_path(@freight_mission) %> |
<%= link_to 'Back', freight_missions_path %>
