<div class="main-container">
  <section class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wrap">
            <p class="text-center">
              <%= image_tag "logo-kamioun-min.png", class: "home-logo-img", alt: "" %>
            </p>
            <p class="form-title">Kamioun</p>
            <%= form_for(resource, as: resource_name, validate: true, :html => {class: "login"}, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4 col-md-4">
                    
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <%= f.email_field :email, autofocus: true, placeholder: "Identifiant", class: "login-email" %>
                  <span class="email-error hide" >*email non valide</span>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4 col-md-4">
                    
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <%= f.password_field :password, placeholder: "Mot de passe", autocomplete: "off" %>
                    <span class="pass-error hide">*mot de passe non valide</span>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4 col-md-4">    
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <%= f.submit "Se connecter", class:"btn btn-sm btn-submit loginbtn" %>
                  </div>
                  <div class="col-lg-4 col-md-4">    
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
