.company-name {
  font-family: Avenir;
  font-weight: 600;
  letter-spacing: -0.6px;
  text-align: center;
  color: #000000;
}
.client-info {
  font-family: Avenir;
  font-weight: 500;
  letter-spacing: -0.6px;
  text-align: center;
  color: #000000;
}
.client-phone-modal {
  font-family: Avenir;
  font-weight: 800;
  letter-spacing: -0.6px;
  text-align: center;
  color: #417dd6;
}
.client-modal {
  width: 300px;
  height: 230px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: 200px;
}
.client-modal-cross {
  font-size: 25px !important;
  opacity: 1 !important;
}
.client-modal-header {
  padding: 9px !important;
  border-bottom: 0px !important;
}
.client-modal-body {
  padding: 0px !important;
}
.btn-non-pointer {
  cursor: default !important;
}