body { 
  font-family: 'Avenir' !important;
  background: linear-gradient(90deg, #ffffff 18%, #f7f7f7 16%);
  background-color: #31486e !important;
  
  padding: 0;
  margin: 0;
}
.word-wrap {
  word-wrap:break-word;
  padding: 0 4%
}

.side-para {
  word-wrap:break-word;
}
.btn {
  border: 1px solid transparent !important;
}
.btn-submit {
  background-color: #fbd557 !important;
  border: none;
  color: #fff;
}
.logo-svg {
  width: 30%;
}

.logo-img {
  width:14%;
}

.col-enbtn {
  padding: 0px 30px !important;
}

.nav-tabs {
  padding: 0px 0px 5% 37%;
  border-bottom: 0px solid #ddd;
}
.nav-tabs > li.active {
  border-bottom: 3px solid #31486e;
}

.nav-tabs > li > a {
  padding: 4px 15px;
  margin-right: 2px;
  line-height: 1.428571429;
  border: 0px solid #ddd;
  border-radius: 0px 0px 0 0;
  background: #fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #fff;
  border: 0px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}


.home-logo-img {
  width: 7%;
  margin-top: 6%;
}

.navbar-brand {
  padding: 0px 15px;
}
input[type="text"], input[type="password"]  {
  border-radius: 0px !important;
}
.navbar-right {   
  position: relative;
  top: 2px;
}
.login-email{
  border-radius: 0px !important;
}
.wrap {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

p.form-title {
  font-family: 'Avenir', sans-serif;
  font-size: 29px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  margin-top: 3%;
  margin-bottom: 2%;
  letter-spacing: 0px;
}
h3.form-title {
  font-family: 'Avenir', sans-serif;
  font-size: 29px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  margin-top: 4%;
  margin-bottom: 4%;
  letter-spacing: 0px;
}
form.login {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}
form.login input[type="text"], form.login input[type="password"] {
  width: 100%;
  margin: 0;
  padding: 14px 10px;
  background: 0;
  border: 0;
  border-bottom: 1px solid #fff;
  outline: 0;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #fff;
  outline: 0;
  
}
.box-imgonmob {
  padding-left: 5%;
}
form.login input[type="submit"] {
  font-size: 17px;
  font-weight: 500;
  margin-top: 16px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 0px;
  padding: 10px 50px 10px 50px;
  width:100%;
}
form.login input[type="submit"]:hover {
  transition: background-color 0.5s ease;
}
form.login .remember-forgot {
  float: left;
  width: 100%;
  margin: 10px 0 0 0;
}
form.login .forgot-pass-content {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
form.login label, form.login a {
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
}
form.login a {
  transition: color 0.5s ease;
}
form.login a:hover {
  color: #2ecc71;
}
.pr-wrap {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}
.show-pass-reset {
  display: block !important;
}
.pass-reset {
  margin: 0 auto;
  width: 250px;
  position: relative;
  margin-top: 22%;
  z-index: 999;
  background: #FFFFFF;
  padding: 20px 15px;
}
.pass-reset label {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
}
.pass-reset input[type="email"] {
  width: 100%;
  margin: 5px 0 0 0;
  padding: 5px 10px;
  background: 0;
  border: 0;
  border-bottom: 1px solid #000000;
  outline: 0;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #000000;
  outline: 0;
}
.form-control:focus {
  box-shadow: none;
}
.pass-reset input[type="submit"] {
  width: 100%;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}
.pass-reset input[type="submit"]:hover {
  transition: background-color 0.5s ease;
}
.posted-by {
  position: absolute;
  bottom: 26px;
  margin: 0 auto;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.66);
  padding: 10px;
  left: 45%;
}
.main input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
.career input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0px;
}
.text-white {
  color: #fff !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  font-size: 19px;
  font-weight: normal;
}
.wrap .form-group {
  margin-bottom: 3%;
}
.career input,.career label {
  color: #000;
}
.text-black {
  color: #000 !important;
}
.text-primary {
  color: #417dd6 !important;
}
.bold {
  font-weight: 700 !important;
}
.form-p {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 5%;
}
.career input {
  /* border-bottom: 1px solid transparent !important;
  border-radius: 0px;
  padding: 6px 10px !important; */ 
}
.career .add-on button {
  background: none;
  border-left: 0px;
  border-top: 0;
  border-right: 0;
  margin: -4px 0px 0px 0px;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0px;
}
.input-search {
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
  border-radius: 0px;
}
.add-on i {
  font-size: 19px;
  color: #83868a;
}
.btn-publisher {
  margin-top: 5% !important;
}
.kamioun-navbar {
  background: #31486e;
  padding: 14px 10px 18px 10px;
  border-radius: 0px !important;
  margin-bottom: 0px;
}
.navbar-default .navbar-nav > li > a {
  color: #fff !important;
}
.txtKamiounLi {
  font-size: 20px;
  font-weight: 700;
  color: #fff !important;
  position: relative;
  left: 75px;
  color: #fff;
}
.navbar-brand .badge {
  padding: 25px 25px;
  border-radius: 53px;
  background: #d8d8d8;
  position: relative;
  top: -22px;
}
.visibile-hide {
  visibility: hidden;
}
.txtNouvel {
  color: #f5a623;
}
.border-bottom {
      border-bottom: 1px solid #a9a5a5 !important;
    padding-bottom: 10px !important;
}
.career-desktop .txtNouvel {
  margin-top: 5%;
  margin-bottom: 3%;
}
.career-desktop .add-on {
  border-bottom: 1px solid #a9a5a5;
}
.btn-caret-up {
  background: none;
  border: none;
}
.btn-caret-up i {
  color: #f5a623;
  font-size: 36px;
  position: relative;
  top: -14px;
  left: -8px;
}
.btn-caret-down {
  background: none;
  border: none;
}
.btn-caret-down i {
  color: #7ed321;
  font-size: 36px;
  position: relative;
  top: -14px;
  left: -8px;
}
.dashboard .btn-caret-down i  {
  color: #7ed321;
  font-size: 36px;
  position: relative;
  top: -14px;
  left: -7px;
}
.dashboard .btn-caret-up i  {
  color: #f5a623;
  font-size: 36px;
  position: relative;
  top: -14px;
  left: -7px;
}

.img-box {
  position: relative;
  right: 0px;
  bottom: -12px;
}

.img-box-db {
  position: relative;
  right: 3px;
}

.mr-btm-none {
  margin-bottom: 0 !important; 
}
.btn-nouvelle {
  background: #f5a623;
  font-size: 17px;
  letter-spacing: -0.5px;
  padding: 5% 0%;
}
.dashboard .title-kamioun {
  margin-top: 2%;
}
.bg-white {
  background: #fff;
}
.btn-ajouter {
  background: #fbd557;
  color: #fff;
  padding: 4% 0% 4% 0%;
  margin-top: 12%;
}
.right-content {
  margin-top: 2%;
}
.side-nav {
  height: 100%;
}
.dashboard .right-content {
  padding: 2% 13% 0% 13%;
}
.txt-tunis strong {
  font-weight: 800 !important;
}
.m-b-3 {
  margin-bottom: 3px;
}
.txt-tunis {
  margin-bottom: 3px;
  font-weight: 800 !important;
  color: #417dd6;
  font-size: 17px;
}
.dashboard-panels {
  padding: 9px 0px 9px 0px;
}
.side-para {
  font-size: 14px;
  letter-spacing: 0px;
}
.btn-en {
  color: #fff;
  background-color: #337ab7;
  border-color: transparent !important;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  outline: 0px;
  margin-top: -16px;
  padding: 2% 0%;
}
.btn-en:hover, .btn-en:active, .btn-en:focus {
  color: #fff;
  background-color: #337ab7 !important;
  border-color: transparent !important;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  outline: 0px;
  padding: 2% 0%;
}

.btn-modal {
  margin-top: -16px;
  border-color: transparent !important;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  outline: 0px;
  padding: 2% 0%;
}

.btn-modal:hover, .btn-modal:active, .btn-modal:focus {
  border-color: transparent !important;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  outline: 0px;
  padding: 2% 0%;
}

.dashboard .panel-default {
  box-shadow: 0 0 14px -5px black;
}
.counter-Sec {
  margin-bottom: -15px;
}
.dashboard .panel-left, .dashboard .panel-right {
  padding: 0px 27px;
}
.text-gray {
  color: #949090;
}
.txtmonth {
  margin: 10px 0px 0px 0px;
}
.txtformob{
  position: relative;
  top: -37px;
}
.badge-mob {
  padding: 17px 17px !important;
  border-radius: 53px;
  background: #d8d8d8;
  position: relative;
  top: -14px !important;
}

@media screen and (max-width: 320px) {
  
  
  .nav-tabs {
    padding: 0px 0px 5% 20%;
    border-bottom: 0px solid #ddd;
  }

  body {
    background: #f7f7f7 !important;
  }

  body.home-img { 
    background-color: #31486e !important;
    background-size: cover;
    font-family: 'Avenir' !important;
    background-repeat-y: no-repeat;
    padding: 0;
    margin: 0;
  }

  body.home-img { 
    background-color: #31486e !important;
    background-size: cover;
    font-family: 'Avenir' !important;
    background-repeat-y: no-repeat;
    background-repeat-x: no-repeat;
    padding: 0;
    margin: 0;
    height: 580px;
  }

  .home-logo-img {
    width: 20%;
    margin-top: 15%;
  }

  .navbar-header {
    text-align: center;
  }
  .logo-img {
    width: 27%;
  }
  .txtKamiounLi {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: -39px;
    left: 8px;
    color: #fff;
  }
  .navbar-brand {
    text-align: center;
    color: #fff !important;
    padding-left: 25%;
    font-size: 20px;
  }

  .form.login input[type="submit"] {
    padding: 10px 0px 10px 0px !important;
    width: 100% !important;
  }
  .wrap .form-group {
    padding: 4% !important;
  }

  .dashboard .right-content {
    padding: 1% 8% 0% 8%;
    height: -webkit-fill-available;
  }
  .dashboard-panels {
    padding: 10px;
  } 
   .dashboard .panel-left, .dashboard .panel-right {
    padding: 0px 0px;
  }
  .txt-tunis {
    font-size: 14px;
  }
  .txtmonth {
    margin: 12px 0px 1px 0px;
    font-size: 13px;
  }
  .txtTime {
    font-size: 12px;
  }
  .btn-ajouter {
    margin: 13px 0px 26px 0px; 
  }
  .side-nav {
    display: none;
  }
  .btn-publisher {
    width: 100% !important;
  }
  .form-p {
    font-size: 22px;
    text-align: center;
    font-weight: 600;
  }
  form.login {
    padding: 2px;
  }
  .form-p {
    margin-bottom: 17%;
    font-size: 19px;
  }
  /* .career-desktop input {
    margin-bottom: 12% !important; 
  } */
  .career .add-on button {
    background: none;
    border-left: 0px;
    border-top: 0;
    border-right: 0;
    margin: -4px 0px 0px 0px;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0px;
  }
  .btn-caret-down i {
    top: -14px;
    left: -33px;
  }
 .img-box {
    position: relative;
    right: -9px;
  }
  .btn-caret-up i {
    top: -14px;
    left: -33px;
  }
  .img-box {
    position: relative;
    /*right: 13px;*/
  }
  .img-box-db {
    position: relative;
    right: 0px;
  }
  .btn-en {
    padding: 3% 0%;
  }
  .box-imgonmob {
    margin-bottom: 7%;
    margin-top: 7%;
  }
  .m-b-8prc {
    margin-bottom: 8%;
  }
  .career-desktop {
    background: #fff;
  }
}
@media screen and (min-width: 321px) and (max-width: 375px) {

  .nav-tabs {
    padding: 0px 0px 5% 23%;
    border-bottom: 0px solid #ddd;
  }

  .mission-details {
    padding-left: 10px;
  }

  body {
    background: #f7f7f7 !important;
  }

  body.home-img { 
    background-color: #31486e !important;
    background-size: cover;
    font-family: 'Avenir' !important;
    background-repeat-y: no-repeat;
    background-repeat-x: no-repeat;
    padding: 0;
    margin: 0;
    height: 580px;
  }

  .home-logo-img {
    width: 20%;
    margin-top: 15%;
  }

  .navbar-header {
    text-align: center;
  }
  .logo-img {
    width: 27%;
  }
  .txtKamiounLi {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: -45px;
    left: 0px;
    color: #fff;
  }
  .navbar-brand {
    text-align: center;
    color: #fff !important;
    padding-left: 25%;
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 9px;
  }

  .txtTime {
    font-size: 12px;
  }

  .loginbtn {
    width: 100% !important;
  }
  .form.login input[type="submit"] {
    padding: 10px 0px 10px 0px !important;
    width: 100% !important;
  }

  .dashboard .right-content {
    padding: 2% 8% 0% 8%;
    height: -webkit-fill-available;
  }
  .dashboard-panels {
    padding: 11px;
  } 
   .dashboard .panel-left, .dashboard .panel-right {
    padding: 0px 10px;
  }
  .txt-tunis {
    font-size: 14px;
  }
  .btn-ajouter {
    margin: 13px 0px 26px 0px; 
  }
  .wrap {
    padding: 10% 0% 0% 0%;
  }
  p.form-title {
    margin-bottom: 0%;
  }
  .btn-submit {
    width: 100% !important;
    text-align: center;
    padding: 10px !important;
  }
  form.login {
    padding: 10% 7%;
}
  .career .form-group {
    margin-bottom: 11%;
  }
  .career .wrap {
    padding: 8% 11% 0% 12%;
  }
  h3.form-title {
    margin-bottom: 11%;
  } 
  .form-p {
    margin-bottom: 17%;
    font-size: 19px;
  }
  /* .career-desktop input {
    margin-bottom: 12% !important; 
  } */
  .career .add-on button {
    background: none;
    border-left: 0px;
    border-top: 0;
    border-right: 0;
    margin: -4px 0px 0px 0px;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0px;
  }
  .img-box {
    position: relative;
    right: -9px;
  }
  .btn-caret-up i {
    top: -14px;
    left: -33px;
  }
  .img-box {
    position: relative;
    /*right: 13px;*/
  }
  .img-box-db {
    position: relative;
    right: 0px;
  }
  .btn-en {
    padding: 3% 0%;
  }
  .box-imgonmob {
    margin-bottom: 7%;
    margin-top: 7%;
  }
  .m-b-8prc {
    margin-bottom: 8%;
  }
  .career-desktop {
    background: #fff;
  }

}
@media screen and (min-width: 376px) and (max-width: 425px) {

  .nav-tabs {
    padding: 0px 0px 5% 25%;
    border-bottom: 0px solid #ddd;
  }

  .mission-details {
    padding-left: 10px;
  }
  body {
    background: #f7f7f7 !important;
  }

  body.home-img { 
    background-color: #31486e !important;
    background-size: cover;
    font-family: 'Avenir' !important;
    background-repeat-y: no-repeat;
    padding: 0;
    margin: 0;
  }

  .home-logo-img {
    width: 23%;
    margin-top: 15%;
  }

  .navbar-header {
    text-align: center;
  }
  .logo-img {
    width: 23%;
  }
  .txtKamiounLi {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: -38px;
    left: -20px;
    color: #fff;
  }
  .navbar-brand {
    text-align: center;
    color: #fff !important;
    padding-left: 30%;
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 6px;
  }

  form.login {
    padding: 0px !important;
  }

  .loginbtn {
    width: 100% !important;
  }
  .form.login input[type="submit"] {
    padding: 10px 0px 10px 0px !important;
    width: 100% !important;
  }

  .dashboard .right-content {
    padding: 2% 8% 0% 8%;
    height: -webkit-fill-available;
  }
  .dashboard-panels {
    padding: 20px;
  } 
  .wrap {
    padding: 5% 11% 0% 12%;
  }
  .dashboard .panel-left, .dashboard .panel-right {
    padding: 0px 10px;
  }
  .txt-tunis {
    font-size: 14px;
  }
  .btn-ajouter {
    margin: 13px 0px 26px 0px; 
  }
  p.form-title {
    margin-bottom: 24%;
  }
  .btn-submit {
    width: 100% !important;
    text-align: center;
    padding: 10px !important;
  }
  .career .form-group {
    margin-bottom: 11%;
  }
  .form-p {
    margin-bottom: 17%;
    font-size: 19px;
  }
  /* .career-desktop input {
    margin-bottom: 12% !important; 
  } */
  .career .add-on button {
    background: none;
    border-left: 0px;
    border-top: 0;
    border-right: 0;
    margin: -4px 0px 0px 0px;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0px;
  }
  .btn-caret-down i {
    top: -14px;
    left: -33px;
  }
  .img-box {
    position: relative;
    right: -9px;
  }
  .btn-caret-up i {
    top: -14px;
    left: -33px;
  }
  .img-box {
    position: relative;
    right: -9px;
  }
  .img-box-db {
    position: relative;
    right: 0px;
  }
  .btn-en {
    /*padding: 3% 0%;*/
  }
  .box-imgonmob {
    margin-bottom: 7%;
    margin-top: 7%;
  }
  .m-b-8prc {
    margin-bottom: 8%;
  }
  .career-desktop {
    background: #fff;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {

  .nav-tabs {
    padding: 0px 0px 5% 36%;
    border-bottom: 0px solid #ddd;
  }
  .mission-details-tab {
    padding-left: 25px;
  }
  body {
    background: #f7f7f7 !important;
  }
  
  body.home-img { 
    background-color: #31486e !important; 
    background-size: cover;
    font-family: 'Avenir' !important;
    background-repeat-y: no-repeat;
    padding: 0;
    margin: 0;
  }

  .home-logo-img {
    width: 13%;
    margin-top: 3%;
  }

  .navbar-header {
    text-align: center;
  }
  .logo-img {
    width: 16%;
  }
  .txtKamiounLi {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: -41px;
    left: -77px;
    color: #fff;
  }
  .navbar-brand {
    text-align: center;
    color: #fff !important;
    padding-left: 5%;
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 6px;
  }

  .loginbtn {
    width: 100% !important;
  }
  .form.login input[type="submit"] {
    padding: 10px 0px 10px 0px !important;
    width: 100% !important;
  }

  .wrap {
    padding: 10% 11% 0% 12%;
  }
  p.form-title {
    margin-bottom: 15%;
  }
  .btn-submit {
    width: 100% !important;
    text-align: center;
    padding: 10px !important;
  }
  form.login {
    padding: 10% 0;
  }
  .career .form-group {
    margin-bottom: 11%;
  }
  .career .wrap {
    padding: 8% 11% 0% 12%;
  }
  h3.form-title {
    margin-bottom: 11%;
  } 
  .form-p {
    margin-bottom: 17%;
    font-size: 19px;
  }
  /* .career-desktop input {
    margin-bottom: 12% !important; 
  } */
  .career .add-on button {
    background: none;
    border-left: 0px;
    border-top: 0;
    border-right: 0;
    margin: -4px 0px 0px 0px;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0px;
  }
  .btn-caret-down i {
    top: -14px;
    left: -33px;
  }
  .img-box {
    position: relative;
    right: -9px;
  }
  .btn-caret-up i {
    top: -14px;
    left: -33px;
  }
  .img-box {
    position: relative;
    /*right: 13px;*/
  }
  .img-box-db {
    position: relative;
    right: 5px;
  }
  .box-imgonmob {
    margin-bottom: 4%;
    margin-top: 4%;
  }
  .m-b-8prc {
    margin-bottom: 4%;
  }
  .career-desktop {
    background: #fff;
  }
}