form.mission input[type="text"] {
  font-family: 'Avenir' !important;
  width: 100%;
  margin: 0;
  padding: 0px 10px;
  background: 0;
  border: 0;
  outline: 0;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #4a4a4a;
  outline: 0;
}
.side-panel-text a {
  color: #676767 !important;
}
.btn-ajouter a {
  color: #fff;
  text-decoration: none;
}
.glyphicon-chevron-up {
  color: #000 !important;
}
.glyphicon-chevron-down {
  color: #000 !important;
}
.field_with_errors .btn-default {
  margin-top: -26px;
}
.marginbottom{
  margin-bottom: 24px !important;
}
.error_list{
  float: center;
}
.m-b-2perc {
  margin-bottom:3%;
}
.drpNoStyle {
  background: transparent;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  font-size: 15px;
  font-style: italic;
  color: #000;
}