#exTab3 {
	margin-top: 35px;
}

.litab{
	color: #252975;
	border-bottom: none !important;
    border-left: 3px solid #2d40a9;
}
.ultabs{
	padding: 0px !important;
}
.litab > a {
	color: #31486e;
	font-weight: bold;
	font-size: 16px;
}