body.home-img { 
  background: #31486e !important;
  background-size: cover;
  font-family: 'Avenir' !important;
  background-repeat-y: no-repeat;
  padding: 0;
  margin: 0;
}
.login-email {
  width: 100%;
  margin: 0;
  padding: 14px 10px;
  background: 0;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  outline: 0;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #FFFFFF;
  outline: 0;
}
.email-error{
  font-size: 15px !important;
  color: #f2dede !important;
  float: left;
}
.pass-error{
  font-size: 15px !important;
  color: #f2dede !important;
  float: left;
}